<a href="https://colab.research.google.com/github/hemil19/online-data-science-ml-challenges/blob/master/AnalyticsVidhya/Black%20Friday%20Sales%20Prediction/BlackFriday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
train=pd.read_csv('/content/train.csv')
test=pd.read_csv('/content/test.csv')

In [ ]:
train.head()

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

In [ ]:
test.head()

   User_ID Product_ID  ... Product_Category_2 Product_Category_3
0  1000004  P00128942  ...               11.0                NaN
1  1000009  P00113442  ...                5.0                NaN
2  1000010  P00288442  ...               14.0                NaN
3  1000010  P00145342  ...                9.0                NaN
4  1000011  P00053842  ...                5.0               12.0

[5 rows x 11 columns]

In [ ]:
train.shape,test.shape

((550068, 12), (233599, 11))

In [ ]:
train.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [ ]:
test.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2             72344
Product_Category_3            162562
dtype: int64

In [ ]:
combine=train.append(test)
combine.head()

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN   8370.0
1  1000001  P00248942      F  ...                6.0                14.0  15200.0
2  1000001  P00087842      F  ...                NaN                 NaN   1422.0
3  1000001  P00085442      F  ...               14.0                 NaN   1057.0
4  1000002  P00285442      M  ...                NaN                 NaN   7969.0

[5 rows x 12 columns]

In [ ]:
combine.shape

(783667, 12)

In [ ]:
total_product_buys=combine.groupby('User_ID')['Product_ID'].count()

In [ ]:
dict={}
for i in range(0,5891):
  dict[total_product_buys.keys()[i]]=total_product_buys.values[i]

In [ ]:
del total_product_buys

In [ ]:
total_product_buys=[]
for i in combine['User_ID']:
  total_product_buys.append(dict[i])

In [ ]:
len(total_product_buys)

783667

In [ ]:
combine['totalproductsbuys']=total_product_buys

In [ ]:
combine.head()

   User_ID Product_ID Gender  ... Product_Category_3  Purchase totalproductsbuys
0  1000001  P00069042      F  ...                NaN    8370.0                47
1  1000001  P00248942      F  ...               14.0   15200.0                47
2  1000001  P00087842      F  ...                NaN    1422.0                47
3  1000001  P00085442      F  ...                NaN    1057.0                47
4  1000002  P00285442      M  ...                NaN    7969.0               107

[5 rows x 13 columns]

In [ ]:
combine['Product_Category_2'].fillna(-1,inplace=True)
combine['Product_Category_3'].fillna(-1,inplace=True)

In [ ]:
combine.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2                 0
Product_Category_3                 0
Purchase                      233599
totalproductsbuys                  0
dtype: int64

In [ ]:
combine.head()

   User_ID Product_ID Gender  ... Product_Category_3  Purchase totalproductsbuys
0  1000001  P00069042      F  ...               -1.0    8370.0                47
1  1000001  P00248942      F  ...               14.0   15200.0                47
2  1000001  P00087842      F  ...               -1.0    1422.0                47
3  1000001  P00085442      F  ...               -1.0    1057.0                47
4  1000002  P00285442      M  ...               -1.0    7969.0               107

[5 rows x 13 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
combine['Gender']=le.fit_transform(combine['Gender'])
combine['City_Category']=le.fit_transform(combine['City_Category'])

In [ ]:
combine['Age']=combine['Age'].map({'26-35':6,'36-45':5,'18-25':4,'46-50':3,'51-55':2,'55+':1,'0-17':0})

In [ ]:
combine['Stay_In_Current_City_Years']=combine['Stay_In_Current_City_Years'].replace('4+',4)
combine['Stay_In_Current_City_Years']=combine['Stay_In_Current_City_Years'].astype(int)

In [ ]:
combine.dtypes

User_ID                         int64
Product_ID                     object
Gender                          int64
Age                             int64
Occupation                      int64
City_Category                   int64
Stay_In_Current_City_Years      int64
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                      float64
totalproductsbuys               int64
dtype: object

In [ ]:
combine.head()

     User_ID Product_ID  ...  Purchase  totalproductsbuys
0  13.815513  P00069042  ...    8370.0                 47
1  13.815513  P00248942  ...   15200.0                 47
2  13.815513  P00087842  ...    1422.0                 47
3  13.815513  P00085442  ...    1057.0                 47
4  13.815514  P00285442  ...    7969.0                107

[5 rows x 13 columns]

In [ ]:
combine['User_ID']=np.log1p(combine['User_ID'])

In [ ]:
X = combine[combine['Purchase'].isnull()!=True].drop(['Product_ID','Purchase'], axis=1)
y = combine[combine['Purchase'].isnull()!=True]['Purchase']

test = combine[combine['Purchase'].isnull()==True].drop(['Product_ID','Purchase'], axis=1)

X.shape, y.shape, test.shape

((550068, 11), (550068,), (233599, 11))

In [ ]:
X.head()

     User_ID  Gender  ...  Product_Category_3  totalproductsbuys
0  13.815513       0  ...                -1.0                 47
1  13.815513       0  ...                14.0                 47
2  13.815513       0  ...                -1.0                 47
3  13.815513       0  ...                -1.0                 47
4  13.815514       1  ...                -1.0                107

[5 rows x 11 columns]

In [ ]:
from sklearn.model_selection import train_test_split
np.random.seed(19)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=19)

In [ ]:
y_train

312635     5169.0
69486      9937.0
158300     6874.0
549206       14.0
439744     5249.0
           ...
279882     5217.0
480168     4518.0
82677      3636.0
207470    10794.0
521821    19140.0
Name: Purchase, Length: 440054, dtype: float64

In [ ]:
from lightgbm import LGBMRegressor
from sklearn.metrics import mean_squared_error
model = LGBMRegressor(max_depth=5,
                       learning_rate=0.4, 
                       n_estimators=6000)

model.fit(X_train,y_train,
          eval_set=[(X_train,y_train),(X_test, y_test.values)],
          eval_metric='rmse',
          early_stopping_rounds=100,
          verbose=200)

pred_y = model.predict(X_test)
print(np.sqrt(mean_squared_error(pred_y,y_test)))

Training until validation scores don't improve for 100 rounds.
[200]	training's l2: 7.50592e+06	training's rmse: 2739.69	valid_1's l2: 7.70629e+06	valid_1's rmse: 2776.02
[400]	training's l2: 7.21157e+06	training's rmse: 2685.44	valid_1's l2: 7.59813e+06	valid_1's rmse: 2756.47
[600]	training's l2: 7.02715e+06	training's rmse: 2650.88	valid_1's l2: 7.5692e+06	valid_1's rmse: 2751.22
[800]	training's l2: 6.88684e+06	training's rmse: 2624.28	valid_1's l2: 7.56024e+06	valid_1's rmse: 2749.59
Early stopping, best iteration is:
[788]	training's l2: 6.89361e+06	training's rmse: 2625.57	valid_1's l2: 7.55871e+06	valid_1's rmse: 2749.31
2749.3117021365724

In [ ]:
y_pred_tot_lgm = []

from sklearn.model_selection import StratifiedKFold

fold = StratifiedKFold(n_splits=3)
i = 1
for train_index, test_index in fold.split(X,y):
    x_train, x_val = X.iloc[train_index,:], X.iloc[test_index,:]
    y_train, y_val = y[train_index], y[test_index]
    m = LGBMRegressor(boosting_type='gbdt',
                       max_depth=5,
                       learning_rate=0.05,
                       n_estimators=5000,
                       min_child_weight=0.01,
                       colsample_bytree=0.5,
                       random_state=1994)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          eval_metric='rmse',
          verbose=200)
    pred_y = m.predict(x_val)
    print("err_lgm: ",np.sqrt(mean_squared_error(y_val,pred_y)))
    pred_test = m.predict(test)
    i = i + 1
    y_pred_tot_lgm.append(pred_test)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  % (min_groups, self.n_splits)), UserWarning)

Training until validation scores don't improve for 200 rounds.
[200]	training's l2: 8.50606e+06	training's rmse: 2916.51	valid_1's l2: 8.56472e+06	valid_1's rmse: 2926.55
[400]	training's l2: 8.24571e+06	training's rmse: 2871.53	valid_1's l2: 8.32797e+06	valid_1's rmse: 2885.82
[600]	training's l2: 8.06909e+06	training's rmse: 2840.61	valid_1's l2: 8.18339e+06	valid_1's rmse: 2860.66
[800]	training's l2: 7.94351e+06	training's rmse: 2818.42	valid_1's l2: 8.08405e+06	valid_1's rmse: 2843.25
[1000]	training's l2: 7.85169e+06	training's rmse: 2802.09	valid_1's l2: 8.01665e+06	valid_1's rmse: 2831.37
[1200]	training's l2: 7.76959e+06	training's rmse: 2787.4	valid_1's l2: 7.95752e+06	valid_1's rmse: 2820.91
[1400]	training's l2: 7.69641e+06	training's rmse: 2774.24	valid_1's l2: 7.90708e+06	valid_1's rmse: 2811.95
[1600]	training's l2: 7.63831e+06	training's rmse: 2763.75	valid_1's l2: 7.871e+06	valid_1's rmse: 2805.53
[1800]	training's l2: 7.58725e+06	training's rmse: 2754.5	valid_1's l2: 7.83992e+06	valid_1's rmse: 2799.98
[2000]	training's l2: 7.53522e+06	training's rmse: 2745.04	valid_1's l2: 7.808e+06	valid_1's rmse: 2794.28
[2200]	training's l2: 7.49021e+06	training's rmse: 2736.82	valid_1's l2: 7.78306e+06	valid_1's rmse: 2789.81
[2400]	training's l2: 7.4548e+06	training's rmse: 2730.35	valid_1's l2: 7.76486e+06	valid_1's rmse: 2786.55
[2600]	training's l2: 7.42191e+06	training's rmse: 2724.32	valid_1's l2: 7.74831e+06	valid_1's rmse: 2783.58
[2800]	training's l2: 7.38638e+06	training's rmse: 2717.79	valid_1's l2: 7.7311e+06	valid_1's rmse: 2780.49
[3000]	training's l2: 7.357e+06	training's rmse: 2712.38	valid_1's l2: 7.71718e+06	valid_1's rmse: 2777.98
[3200]	training's l2: 7.32842e+06	training's rmse: 2707.11	valid_1's l2: 7.70637e+06	valid_1's rmse: 2776.03
[3400]	training's l2: 7.30392e+06	training's rmse: 2702.58	valid_1's l2: 7.69628e+06	valid_1's rmse: 2774.22
[3600]	training's l2: 7.27809e+06	training's rmse: 2697.79	valid_1's l2: 7.68642e+06	valid_1's rmse: 2772.44
[3800]	training's l2: 7.25427e+06	training's rmse: 2693.37	valid_1's l2: 7.67854e+06	valid_1's rmse: 2771.02
[4000]	training's l2: 7.22894e+06	training's rmse: 2688.67	valid_1's l2: 7.67035e+06	valid_1's rmse: 2769.54
[4200]	training's l2: 7.20598e+06	training's rmse: 2684.4	valid_1's l2: 7.66282e+06	valid_1's rmse: 2768.18
[4400]	training's l2: 7.18616e+06	training's rmse: 2680.7	valid_1's l2: 7.6576e+06	valid_1's rmse: 2767.24
[4600]	training's l2: 7.16397e+06	training's rmse: 2676.56	valid_1's l2: 7.65077e+06	valid_1's rmse: 2766
[4800]	training's l2: 7.14314e+06	training's rmse: 2672.66	valid_1's l2: 7.64478e+06	valid_1's rmse: 2764.92
[5000]	training's l2: 7.12482e+06	training's rmse: 2669.24	valid_1's l2: 7.64108e+06	valid_1's rmse: 2764.25
Did not meet early stopping. Best iteration is:
[5000]	training's l2: 7.12482e+06	training's rmse: 2669.24	valid_1's l2: 7.64108e+06	valid_1's rmse: 2764.25
err_lgm:  2764.250336886169
Training until validation scores don't improve for 200 rounds.
[200]	training's l2: 8.51878e+06	training's rmse: 2918.69	valid_1's l2: 8.53522e+06	valid_1's rmse: 2921.51
[400]	training's l2: 8.24463e+06	training's rmse: 2871.35	valid_1's l2: 8.28543e+06	valid_1's rmse: 2878.44
[600]	training's l2: 8.08316e+06	training's rmse: 2843.09	valid_1's l2: 8.14474e+06	valid_1's rmse: 2853.9
[800]	training's l2: 7.96796e+06	training's rmse: 2822.76	valid_1's l2: 8.05027e+06	valid_1's rmse: 2837.3
[1000]	training's l2: 7.87189e+06	training's rmse: 2805.69	valid_1's l2: 7.97679e+06	valid_1's rmse: 2824.32
[1200]	training's l2: 7.79467e+06	training's rmse: 2791.89	valid_1's l2: 7.91994e+06	valid_1's rmse: 2814.24
[1400]	training's l2: 7.72676e+06	training's rmse: 2779.71	valid_1's l2: 7.87418e+06	valid_1's rmse: 2806.1
[1600]	training's l2: 7.66723e+06	training's rmse: 2768.98	valid_1's l2: 7.83583e+06	valid_1's rmse: 2799.26
[1800]	training's l2: 7.61782e+06	training's rmse: 2760.04	valid_1's l2: 7.80602e+06	valid_1's rmse: 2793.93
[2000]	training's l2: 7.57284e+06	training's rmse: 2751.88	valid_1's l2: 7.77929e+06	valid_1's rmse: 2789.14
[2200]	training's l2: 7.52945e+06	training's rmse: 2743.98	valid_1's l2: 7.75504e+06	valid_1's rmse: 2784.79
[2400]	training's l2: 7.49238e+06	training's rmse: 2737.22	valid_1's l2: 7.73586e+06	valid_1's rmse: 2781.34
[2600]	training's l2: 7.45657e+06	training's rmse: 2730.67	valid_1's l2: 7.7169e+06	valid_1's rmse: 2777.93
[2800]	training's l2: 7.42764e+06	training's rmse: 2725.37	valid_1's l2: 7.70282e+06	valid_1's rmse: 2775.4
[3000]	training's l2: 7.39492e+06	training's rmse: 2719.36	valid_1's l2: 7.68743e+06	valid_1's rmse: 2772.62
[3200]	training's l2: 7.36623e+06	training's rmse: 2714.08	valid_1's l2: 7.67605e+06	valid_1's rmse: 2770.57
[3400]	training's l2: 7.3371e+06	training's rmse: 2708.71	valid_1's l2: 7.66133e+06	valid_1's rmse: 2767.91
[3600]	training's l2: 7.30834e+06	training's rmse: 2703.4	valid_1's l2: 7.64927e+06	valid_1's rmse: 2765.73
[3800]	training's l2: 7.28533e+06	training's rmse: 2699.14	valid_1's l2: 7.64062e+06	valid_1's rmse: 2764.17
[4000]	training's l2: 7.26202e+06	training's rmse: 2694.81	valid_1's l2: 7.63236e+06	valid_1's rmse: 2762.67
[4200]	training's l2: 7.23965e+06	training's rmse: 2690.66	valid_1's l2: 7.62412e+06	valid_1's rmse: 2761.18
[4400]	training's l2: 7.21773e+06	training's rmse: 2686.58	valid_1's l2: 7.61708e+06	valid_1's rmse: 2759.91
[4600]	training's l2: 7.1949e+06	training's rmse: 2682.33	valid_1's l2: 7.6087e+06	valid_1's rmse: 2758.39
[4800]	training's l2: 7.17428e+06	training's rmse: 2678.49	valid_1's l2: 7.60245e+06	valid_1's rmse: 2757.25
[5000]	training's l2: 7.15354e+06	training's rmse: 2674.61	valid_1's l2: 7.59692e+06	valid_1's rmse: 2756.25
Did not meet early stopping. Best iteration is:
[5000]	training's l2: 7.15354e+06	training's rmse: 2674.61	valid_1's l2: 7.59692e+06	valid_1's rmse: 2756.25
err_lgm:  2756.251537423043
Training until validation scores don't improve for 200 rounds.
[200]	training's l2: 8.49203e+06	training's rmse: 2914.11	valid_1's l2: 8.54711e+06	valid_1's rmse: 2923.54
[400]	training's l2: 8.24148e+06	training's rmse: 2870.8	valid_1's l2: 8.33422e+06	valid_1's rmse: 2886.91
[600]	training's l2: 8.06382e+06	training's rmse: 2839.69	valid_1's l2: 8.18599e+06	valid_1's rmse: 2861.12
[800]	training's l2: 7.94477e+06	training's rmse: 2818.65	valid_1's l2: 8.09244e+06	valid_1's rmse: 2844.72
[1000]	training's l2: 7.85427e+06	training's rmse: 2802.55	valid_1's l2: 8.02515e+06	valid_1's rmse: 2832.87
[1200]	training's l2: 7.77349e+06	training's rmse: 2788.1	valid_1's l2: 7.9679e+06	valid_1's rmse: 2822.75
[1400]	training's l2: 7.70541e+06	training's rmse: 2775.86	valid_1's l2: 7.92188e+06	valid_1's rmse: 2814.58
[1600]	training's l2: 7.64276e+06	training's rmse: 2764.55	valid_1's l2: 7.88121e+06	valid_1's rmse: 2807.35
[1800]	training's l2: 7.59784e+06	training's rmse: 2756.42	valid_1's l2: 7.85699e+06	valid_1's rmse: 2803.03
[2000]	training's l2: 7.55122e+06	training's rmse: 2747.95	valid_1's l2: 7.82926e+06	valid_1's rmse: 2798.08
[2200]	training's l2: 7.5031e+06	training's rmse: 2739.18	valid_1's l2: 7.79931e+06	valid_1's rmse: 2792.72
[2400]	training's l2: 7.45805e+06	training's rmse: 2730.94	valid_1's l2: 7.77378e+06	valid_1's rmse: 2788.15
[2600]	training's l2: 7.42047e+06	training's rmse: 2724.05	valid_1's l2: 7.75442e+06	valid_1's rmse: 2784.68
[2800]	training's l2: 7.38785e+06	training's rmse: 2718.06	valid_1's l2: 7.73986e+06	valid_1's rmse: 2782.06
[3000]	training's l2: 7.35799e+06	training's rmse: 2712.56	valid_1's l2: 7.72676e+06	valid_1's rmse: 2779.71
[3200]	training's l2: 7.3311e+06	training's rmse: 2707.6	valid_1's l2: 7.71547e+06	valid_1's rmse: 2777.67
[3400]	training's l2: 7.30384e+06	training's rmse: 2702.56	valid_1's l2: 7.70441e+06	valid_1's rmse: 2775.68
[3600]	training's l2: 7.27727e+06	training's rmse: 2697.64	valid_1's l2: 7.69375e+06	valid_1's rmse: 2773.76
[3800]	training's l2: 7.25151e+06	training's rmse: 2692.86	valid_1's l2: 7.68248e+06	valid_1's rmse: 2771.73
[4000]	training's l2: 7.22779e+06	training's rmse: 2688.45	valid_1's l2: 7.6743e+06	valid_1's rmse: 2770.25
[4200]	training's l2: 7.20661e+06	training's rmse: 2684.51	valid_1's l2: 7.66851e+06	valid_1's rmse: 2769.21
[4400]	training's l2: 7.18377e+06	training's rmse: 2680.25	valid_1's l2: 7.66012e+06	valid_1's rmse: 2767.69
[4600]	training's l2: 7.16216e+06	training's rmse: 2676.22	valid_1's l2: 7.65293e+06	valid_1's rmse: 2766.39
[4800]	training's l2: 7.14211e+06	training's rmse: 2672.47	valid_1's l2: 7.6477e+06	valid_1's rmse: 2765.45
[5000]	training's l2: 7.12165e+06	training's rmse: 2668.64	valid_1's l2: 7.64152e+06	valid_1's rmse: 2764.33
Did not meet early stopping. Best iteration is:
[5000]	training's l2: 7.12165e+06	training's rmse: 2668.64	valid_1's l2: 7.64152e+06	valid_1's rmse: 2764.33
err_lgm:  2764.329980829264

In [ ]:
from xgboost import XGBRegressor

errxgb = []
y_pred_tot_xgb = []

from sklearn.model_selection import KFold,StratifiedKFold

fold = StratifiedKFold(n_splits=3)
i = 1
for train_index, test_index in fold.split(X,y):
    x_train, x_val = X.iloc[train_index,:], X.iloc[test_index,:]
    y_train, y_val = y[train_index], y[test_index]
    m = XGBRegressor(boosting_type='gbdt',
                      max_depth=5,
                      learning_rate=0.07,
                      n_estimators=5000,
                      random_state=1994)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          eval_metric='rmse',
          verbose=200)
    pred_y = m.predict(x_val)
    print("err_xgb: ",np.sqrt(mean_squared_error(y_val,pred_y)))
    pred_test = m.predict(test)
    i = i + 1
    y_pred_tot_xgb.append(pred_test)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:667: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=3.
  % (min_groups, self.n_splits)), UserWarning)

[18:25:44] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:9880.77	validation_1-rmse:9874.7
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.
[200]	validation_0-rmse:2872.91	validation_1-rmse:2885.34
[400]	validation_0-rmse:2842.25	validation_1-rmse:2859.68
Stopping. Best iteration:
[309]	validation_0-rmse:2842.57	validation_1-rmse:2859.46

err_xgb:  2859.5462425070086
[18:28:42] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:9871.46	validation_1-rmse:9874.27
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.
[200]	validation_0-rmse:2872.85	validation_1-rmse:2878.78
[400]	validation_0-rmse:2871.35	validation_1-rmse:2878.41
Stopping. Best iteration:
[205]	validation_0-rmse:2871.8	validation_1-rmse:2877.94

err_xgb:  2878.017945150957
[18:31:02] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	validation_0-rmse:9871.59	validation_1-rmse:9874.53
Multiple eval metrics have been passed: 'validation_1-rmse' will be used for early stopping.

Will train until validation_1-rmse hasn't improved in 200 rounds.
[200]	validation_0-rmse:2866.85	validation_1-rmse:2884.42
[400]	validation_0-rmse:2843.11	validation_1-rmse:2865.54
Stopping. Best iteration:
[277]	validation_0-rmse:2843.54	validation_1-rmse:2865.26

err_xgb:  2865.3209715104526

In [ ]:
predicted=(np.mean(y_pred_tot_lgm,0)+np.mean(y_pred_tot_xgb,0))/2.0

In [ ]:
ss=pd.read_csv('/content/sample_submission.csv')
ss.head()

   Purchase  User_ID Product_ID
0       100  1000004  P00128942
1       100  1000009  P00113442
2       100  1000010  P00288442
3       100  1000010  P00145342
4       100  1000011  P00053842

In [ ]:
ss['Purchase']=predicted

In [ ]:
ss.to_csv('blackfridaysales.csv',index=False)