In [1]:
import pandas as pd
import numpy as np

In [2]:
train=pd.read_csv('/Users/hemilshah/Desktop/projects/BigMart/train.csv')
test=pd.read_csv('/Users/hemilshah/Desktop/projects/BigMart/test.csv')
main_df=test[['Item_Identifier','Outlet_Identifier']]

In [3]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [4]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [5]:
missing_index=train[train['Item_Weight'].isna()==True].index
for i in missing_index:
    train.loc[i,'Item_Weight']=train.groupby('Item_Identifier')['Item_Weight'].mean()[train.loc[i,'Item_Identifier']]

In [6]:
missing_index_test=test[test['Item_Weight'].isna()==True].index
for i in missing_index_test:
    test.loc[i,'Item_Weight']=test.groupby('Item_Identifier')['Item_Weight'].mean()[test.loc[i,'Item_Identifier']]

In [7]:
train['Item_Weight'].fillna(train['Item_Weight'].mean(),inplace=True)
test['Item_Weight'].fillna(test['Item_Weight'].mean(),inplace=True)

In [8]:
dict_val={'Tier 1':'High','Tier 2':'Medium','Tier 3':'Small'}
missing_index=train[train['Outlet_Size'].isna()==True].index
for i in missing_index:
    train.loc[i,'Outlet_Size']=dict_val[train.loc[i,'Outlet_Location_Type']]
missing_index_test=test[test['Outlet_Size'].isna()==True].index
for i in missing_index_test:
    test.loc[i,'Outlet_Size']=dict_val[test.loc[i,'Outlet_Location_Type']]

In [9]:
test.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
train[['Item_Weight','Item_Visibility','Item_MRP']]=sc.fit_transform(train[['Item_Weight','Item_Visibility','Item_MRP']])
test[['Item_Weight','Item_Visibility','Item_MRP']]=sc.fit_transform(test[['Item_Weight','Item_Visibility','Item_MRP']])

In [11]:
train=train.drop(['Item_Identifier','Outlet_Identifier'],axis=1)
test=test.drop(['Item_Identifier','Outlet_Identifier'],axis=1)

In [12]:
X = train.select_dtypes(include=[object])

In [13]:
columns=X.columns

In [14]:
X=pd.get_dummies(X)
train=pd.concat([train.drop(columns,axis=1),X],axis=1)

In [15]:
Y = test.select_dtypes(include=[object])
columns=Y.columns
Y=pd.get_dummies(Y)
test=pd.concat([test.drop(columns,axis=1),Y],axis=1)

In [16]:
train.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,-0.769779,-0.970732,1.747454,1999,3735.1380,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,-1.497485,-0.908111,-1.489023,2009,443.4228,0,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
2,0.995661,-0.956917,0.010040,1999,2097.2700,0,1,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,1.361666,-1.281758,0.660050,1998,732.3800,0,0,1,0,0,...,0,0,1,0,0,1,1,0,0,0
4,-0.849439,-1.281758,-1.399220,1987,994.7052,0,1,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [17]:
len(train.columns)-1==len(test.columns)

True

In [18]:
X=train.drop('Item_Outlet_Sales',axis=1)
y=train['Item_Outlet_Sales']

In [19]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=None)

In [20]:
from sklearn.linear_model import Lasso
lasso=Lasso(normalize=True)
lasso.fit(X_train,y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000, normalize=True,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.0001, warm_start=False)

In [21]:
lasso.coef_==0

array([ True,  True, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False,  True, False, False])

In [22]:
X_train.columns[lasso.coef_!=0]

Index(['Item_MRP', 'Outlet_Type_Grocery Store',
       'Outlet_Type_Supermarket Type2', 'Outlet_Type_Supermarket Type3'],
      dtype='object')

In [23]:
X_train=X_train[X_train.columns[lasso.coef_!=0]]

In [24]:
X_test=X_test[X_test.columns[lasso.coef_!=0]]

In [25]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
reg=LinearRegression()
reg.fit(X_train,y_train)
y_pred=reg.predict(X_test)
print(np.sqrt(mean_squared_error(y_pred,y_test)))

1144.687496275892

In [26]:
test=test[test.columns[lasso.coef_!=0]]

In [27]:
y_pred1=reg.predict(test)

In [28]:
main_df['Item_Outlet_Sales']=y_pred1

In [29]:
main_df.to_csv('bigmart1.csv',index=False)